.header {grid-area: header;}

.main {grid-area: main;}

.footer {grid-area: footer;}

.gallery1 {grid-area: gallery1;}

* {
    margin: 0;
    padding: 0;
    border: 0;
  }

.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'main main main main main main'
    'gallery1 gallery1 gallery1 gallery1 gallery1 gallery1'
    'footer footer footer footer footer footer';
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    height: 75px;
    border-bottom: 0.1mm solid #fff;

}

.grid-container > div {
    text-align: left;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;
}

.nav__left{
    margin-left: 75px;
}

.nav__right{
    align-items: center;
    display: flex;
    margin-left: 300px;

}

.nav__right > ul {
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    font-size: 50%;
    
}


.nav__right__item{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav__right__item__2::after{
    content: " | ";
    margin-left: 20px;
}

.nav__right .nav__menu{
    margin-left: 30px;
    margin-right: 20px;
    flex-direction: row;
}

.main {
    height: 700px;
    background-image: url(./img/fondo_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;

}

.search__container{
    display: flex;
    position: absolute;
    top: 10px;
    left: 1300px;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.search__button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 480px;
    height: 55px;
    margin-top: 95px;
    background-color: transparent;
    font-size: 30px;
    color: #fff;
    border: 0.1mm solid #fff;
    border-radius: 30px;
    cursor: pointer;
}


.search__button > input{
    background-color: transparent;
    color: #fff;
    outline: none;
}

::placeholder {
    color: white;
  }

.title{
    display: flex;
    flex-direction: column;
    margin-left: 54px;
    padding-top: 250px;
}

#title__1{
    text-align: left;
    font-size: 25px;
    color: #B4B7B7;
}

#title__2{
    color: white;
}

.main__button__container{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    justify-content: flex-end;
}

#main__button{
    width: 350px;
    height: 55px;
    margin-top: 95px;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    border: 0.1mm solid #fff;
    border-radius: 30px;
    cursor: pointer;
}

#main__button::before{
    content: '\2192';
    margin-right: 15px;
    font-size: 24px;
}

.gallery1{
    position: relative;
    display: flex;
}

.gallery1__left{
    position: absolute;
    flex-direction: row;
    justify-content: flex-start;
}

.gallery1__right{
    flex-direction: row;
    justify-content: flex-end;
}